core/testfiles/TDCFiles/Schemas/Tax/efile1040x_2012v3.0/SchemaFiles/2012v3.0/PartnershipIncome/Common/IRS8938/IRS8938.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Last Modified by James Ganzy on 07/11/2012 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Partnership Schema - IRS Form 8938</Description>
			<TaxYear>2012</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>September 7, 2012</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	<!-- ================================================================== -->
	<!-- ======================  IRS Form 8938 =============================== -->
	<!-- ================================================================== -->
	<xsd:element name="IRS8938">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8938</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8938Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8938">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="GeneralDependencySmall"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IRS8938Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8938</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- =====================Type of Filer  =============== -->
			<!-- =============== (a)Specified individual =============== -->
			<xsd:choice minOccurs="0">
				<!--  Married Filing a Joint Return Indicator-->
				<xsd:element name="JointReturnInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Married Filing a Joint Return Indicator</Description>
							<LineNumber>a(1)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Married Filing Separately Indicator -->
				<xsd:element name="MarriedFilingSeparatelyInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Married Filing Separately</Description>
							<LineNumber>a(2)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Other Individual Indicator -->
				<xsd:element name="OtherIndividualInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Other Individual Indicator</Description>
							<LineNumber>a(3)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- =============== (b)Specified Domestic Entity =============== -->
				<!-- Partnership Indicator -->
				<xsd:element name="PartnershipInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Partnership Indicator</Description>
							<LineNumber>b(1)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Corporation Indicator -->
				<xsd:element name="CorporationInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Corporation Indicator</Description>
							<LineNumber>b(2)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Trust Indicator -->
				<xsd:element name="TrustInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Trust Indicator</Description>
							<LineNumber>b(3)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Estate Indicator -->
			</xsd:choice>
			<!-- CheckBox for Form 8938 for Previously Filed Return Indicator  -->
			<xsd:element name="PreviouslyFiledReturnInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CheckBox for Form 8938 for Previously Filed Return Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Repeating group ForeignFinclAccountGrp Part I -->
			<xsd:element name="ForeignFinclAccountGrp" type="ForeignFinclAccountGrpType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Repeating group OtherForeignAssetGrp Part II -->
			<xsd:element name="OtherForeignAssetGrp" type="OtherForeignAssetGrpType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Repeating group ForeignFinclAccountSumGrp Part III -->
			<xsd:element name="ForeignFinclAccountSumGrp" type="AssetCategorySumGrpType" minOccurs="0"/>
			<xsd:element name="OtherForeignAssetSumGrp" type="AssetCategorySumGrpType" minOccurs="0"/>
			<!-- Repeating group ExceptedSpcfdFrgnAssetGrp Part IV -->
			<xsd:element name="ExceptedSpcfdFrgnAssetGrp" type="ExceptedSpcfdFrgnAssetGrpType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type for ForeignFinclAccountGrp -->
	<xsd:complexType name="ForeignFinclAccountGrpType">
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<!-- Deposit Account Type Indicator -->
				<xsd:element name="DepositAccountTypeInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Deposit Account Type Indicator</Description>
							<LineNumber>1</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Custodial Account Type Indicator -->
				<xsd:element name="CustodialAccountTypeInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Custodial Account Type Indicator</Description>
							<LineNumber>1</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<!-- Identifying Designation Number -->
				<xsd:element name="IdentifyingDesignationNumber" type="LineExplanationType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identifying Designation Number</Description>
							<LineNumber>2</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Bank Account Number -->
				<xsd:element name="BankAccountNumber" type="BankAccountNumberType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Bank Account Number</Description>
							<LineNumber>2</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<!-- =============== Check All That Apply =============== -->
			<!-- Account Opened During Tax Year Indicator -->
			<xsd:element name="AccountOpenedDuringTaxYearInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Account Closed During Tax Year Indicator</Description>
						<LineNumber>3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Account Opened During Tax Year Indicator -->
			<xsd:element name="AccountClosedDuringTaxYearInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Account Closed During Tax Year Indicator</Description>
						<LineNumber>3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Jointly Owned With Spouse Indicator -->
			<xsd:element name="JointlyOwnedWithSpouseInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Jointly Owned With Spouse Indicator</Description>
						<LineNumber>3c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- No Tax Item Reported Indicator -->
			<xsd:element name="NoTaxItemReportedInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>No Tax Item Reported Indicator</Description>
						<LineNumber>3d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Max Account Value During Tax Year Amount -->
			<xsd:element name="MaxAccountValueDurTYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Max Account Value During Tax Year Amount</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Exchange Rate Used Indictor -->
			<xsd:element name="ExchangeRateUsedInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exchange Rate Used Indictor</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign Currency Description Text -->
			<xsd:element name="ForeignCurrencyDescTxt" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Currency Description Text</Description>
						<LineNumber>6(1)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Exchange Rate Used -->
			<xsd:element name="ExchangeRateUsed" type="LargeRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exchange Rate Used</Description>
						<LineNumber>6(2)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Source Of Exchange Rate Used Text -->
			<xsd:element name="SourceOfExchangeRateUsedTxt" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Source Of Exchange Rate Used Text</Description>
						<LineNumber>6(3)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Business Name -->
			<xsd:element name="BusinessName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business Name</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<!-- US Address -->
				<xsd:element name="USAddress" type="USAddressType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US Address</Description>
							<LineNumber>8,9</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Address -->
				<xsd:element name="ForeignAddress" type="ForeignAddressType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Address</Description>
							<LineNumber>8,9</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type for OtherForeignAssetGrp -->
	<xsd:complexType name="OtherForeignAssetGrpType">
		<xsd:sequence>
			<!-- Asset Description -->
			<xsd:element name="AssetDescription" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>AssetDescription</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<!-- Identifying Designation Number -->
				<xsd:element name="IdentifyingDesignationNumber" type="LineExplanationType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identifying Designation Number</Description>
							<LineNumber>2</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Bank Account Number -->
				<xsd:element name="BankAccountNumber" type="BankAccountNumberType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Bank Account Number</Description>
							<LineNumber>2</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<!-- Date Acquired -->
			<xsd:element name="DateAcquired" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date Acquired</Description>
						<LineNumber>3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Disposed Of Date -->
			<xsd:element name="DisposedOfDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Disposed Of Date</Description>
						<LineNumber>3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Jointly Owned With Spouse Indicator -->
			<xsd:element name="JointlyOwnedWithSpouseInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Jointly Owned With Spouse Indicator</Description>
						<LineNumber>3c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- No Tax Item Reported Indicator -->
			<xsd:element name="NoTaxItemReportedInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>No Tax Item Reported Indicator</Description>
						<LineNumber>3d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<!-- Maximum Value During Tax Year 0 To 50000 Indicator -->
				<xsd:element name="MaxValueDuringTY0To50000Ind" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Maximum Value During Tax Year 0 To 50000 Indicator</Description>
							<LineNumber>4a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Maximum Value During Tax Year 50001 To 100000 Indicator -->
				<xsd:element name="MaxValueDurTY50001To100000Ind" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Maximum Value During Tax Year 50001 To 100000 Indicator</Description>
							<LineNumber>4b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Maximum Value During Tax Year 100001 To 150000 Indicator -->
				<xsd:element name="MaxValueDurTY100001To150000Ind" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Maximum Value During Tax Year 100001 To 150000 Indicator</Description>
							<LineNumber>4c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Maximum Value During Tax Year 150001 To 200000 Indicator -->
				<xsd:element name="MaxValueDurTY150001To200000Ind" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Maximum Value During Tax Year 150001 To 200000 Indicator</Description>
							<LineNumber>4d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Maximum Value During Tax Year More Than Maximum Amount -->
				<xsd:element name="MaxValueDurTYMoreMaxAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Maximum Value During Tax Year More Than Maximum Amount</Description>
							<LineNumber>4e</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<!-- Exchange Rate Used Indicator -->
			<xsd:element name="ExchangeRateUsedInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exchange Rate Used Indicator</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign Currency Description Text -->
			<xsd:element name="ForeignCurrencyDescTxt" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Currency Description Text</Description>
						<LineNumber>6(1)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign Currency Exchange Rate Used -->
			<xsd:element name="ExchangeRateUsed" type="LargeRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Currency Exchange Rate Used</Description>
						<LineNumber>6(2)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Source Of Exchange Rate Used Text  -->
			<xsd:element name="SourceOfExchangeRateUsedTxt" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Source Of Exchange Rate Used Text</Description>
						<LineNumber>6(3)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Name Of Foreign Entity -->
			<xsd:element name="NameOfEntity" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name Of Foreign Entity</Description>
						<LineNumber>7a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- =============== Part II (b)Type Of Foreign Entity =============== -->
			<xsd:choice minOccurs="0">
				<!-- Foreign Partnership Indicator -->
				<xsd:element name="PartnershipInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Partnership Indicator</Description>
							<LineNumber>7b(1)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Corporation Indicator -->
				<xsd:element name="CorporationInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Corporation Indicator</Description>
							<LineNumber>7b(2)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Trust Indicator -->
				<xsd:element name="TrustInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Trust Indicator</Description>
							<LineNumber>7b(3)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Estate Indicator -->
				<xsd:element name="EstateInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Estate Indicator</Description>
							<LineNumber>7b(4)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<!-- US Address -->
				<xsd:element name="USAddress" type="USAddressType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US Address</Description>
							<LineNumber>7c,7d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Address -->
				<xsd:element name="ForeignAddress" type="ForeignAddressType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Address</Description>
							<LineNumber>7c,7d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="AssetNotStockOfForeignEntGrp" type="AssetNotStockOfForeignEntGrpType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type for AssetNotStockOfForeignEntGrp -->
	<xsd:complexType name="AssetNotStockOfForeignEntGrpType">
		<xsd:sequence>
			<!-- =============== Part II (a) Name of Issuer or Counterparty =============== -->
			<xsd:choice minOccurs="0">
				<!-- Business Name -->
				<xsd:element name="BusinessName" type="BusinessNameType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Business Name</Description>
							<LineNumber>8a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Person Name -->
				<xsd:element name="PersonName" type="PersonNameType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Person Name</Description>
							<LineNumber>8a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<!-- Issuer Indicator -->
				<xsd:element name="IssuerInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Issuer Indicator</Description>
							<LineNumber>8a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!--Counterparty  Indicator -->
				<xsd:element name="CounterpartyInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Counterparty Indicator</Description>
							<LineNumber>8a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<!-- =============== Part II (b) Type of Issuer or Counterparty=============== -->
			<xsd:choice minOccurs="0">
				<!-- Individual Indicator -->
				<xsd:element name="IndividualInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Individual Indicator</Description>
							<LineNumber>8b(1)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Partnership Indicator -->
				<xsd:element name="PartnershipInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Partnership Indicator</Description>
							<LineNumber>8b(2)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Corporation Indicator -->
				<xsd:element name="CorporationInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Corporation Indicator</Description>
							<LineNumber>8b(3)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Trust Indicator -->
				<xsd:element name="TrustInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Trust Indicator</Description>
							<LineNumber>8b(4)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Estate Indicator -->
				<xsd:element name="EstateInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Estate Indicator</Description>
							<LineNumber>8b(5)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<!-- US Person Indicator -->
				<xsd:element name="USPersonInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US Person Indicator</Description>
							<LineNumber>8c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Person Indicator -->
				<xsd:element name="ForeignPersonInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Counterparty Indicator</Description>
							<LineNumber>8c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0">
				<!-- US Address -->
				<xsd:element name="USAddress" type="USAddressType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US Address</Description>
							<LineNumber>8d,8e</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Address -->
				<xsd:element name="ForeignAddress" type="ForeignAddressType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Address</Description>
							<LineNumber>8d,8e</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Groups for - Foreign Financia lAccount Summary Group  and  Other Foreign Asset Summary Group-->
	<xsd:complexType name="AssetCategorySumGrpType">
		<xsd:sequence>
			<xsd:element name="InterestSumGrp" type="TaxItemSumGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>(a) Interest - Reported On Form Or Schedule Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DividendSumGrp" type="TaxItemSumGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>(b) Dividend - Reported On Form Or Schedule Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RoyaltySumGrp" type="TaxItemSumGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>(c)Royalty - Reported On Form Or Schedule Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OtherIncomeSumGrp" type="TaxItemSumGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>(d) Other Income - Reported On Form Or Schedule Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GainLossSumGrp" type="TaxItemSumGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>(e) Gain Loss - Reported On Form Or Schedule Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DeductionSumGrp" type="TaxItemSumGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreditSumGrp" type="TaxItemSumGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>(f) Deduction - Reported On Form Or Schedule Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Elements for Tax Item Summary Group -->
	<xsd:complexType name="TaxItemSumGrpType">
		<xsd:sequence>
			<xsd:element name="ReportedOnFormOrScheduleAmt" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reported On Form Or Schedule Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WhereReportedFormAndLine" type="ShortDescriptionType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Where Reported Form And Line</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WhereReportedScheduleAndLine" type="ShortDescriptionType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Where Reported Schedule And Line</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type for Excepted Specified Foreign Asset Group -->
	<xsd:complexType name="ExceptedSpcfdFrgnAssetGrpType">
		<xsd:sequence>
			<!-- Form 3520 Indicator -->
			<xsd:element name="Form3520Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 3520 Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="formCnt" type="IntegerType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Form 3520A Indicator -->
			<xsd:element name="Form3520AInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 3520A Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="formCnt" type="IntegerType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Form 5471 Indicator -->
			<xsd:element name="Form5471Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 5471 Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="formCnt" type="IntegerType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Form 8621 Indicator -->
			<xsd:element name="Form8621Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8621 Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="formCnt" type="IntegerType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Form 8865 Indicator -->
			<xsd:element name="Form8865Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8865 Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="formCnt" type="IntegerType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Form 8891 Indicator -->
			<xsd:element name="Form8891Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8891 Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="formCnt" type="IntegerType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
