core/testfiles/TDCFiles/Schemas/Test/TestSchemaV1.0/SchemaFiles/Test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.gurtz.tdc/test" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.gurtz.tdc/test" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<!--xsd:include schemaLocation="TestTypes.xsd"/-->

	<xsd:element name="Test1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Element1" type="xsd:abc"/>
				<xsd:element name="Element2" type="xsd:integer"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>




</xsd:schema>

