core/testfiles/TDCFiles/Schemas/Tax/efile1040x_2011v3.0/SchemaFiles/2011v3.0/IndividualIncomeTax/Common/IRS8615/IRS8615.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Individual Income Tax Schema - IRS 8615 Tax for Certain Children Who Have Investment Income of More Than $1900</Description>
			<TaxYear>2011</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 25, 2011</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ======================================================================== -->
	<!-- ======================  IRS 8615 ============ ============================= -->
	<!-- ======================================================================== -->
	
	<xsd:element name="IRS8615">
		<xsd:annotation>
			<xsd:documentation>IRS 8615 Tax for Certain Children Who Have Investment Income of More Than $1,900</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8615Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8615">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="IRS8615Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS 8615</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			
			<!-- Parent's Name-->
			<xsd:element name="ParentNm">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Parent's Name</Description>
						<LineNumber>A</LineNumber>
						<ELFFieldNumber>0040</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>	

			<!-- Parent's Name-->
			<xsd:element name="ParentNameControlTxt" type="PersonNameControlType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Parent's Name Control</Description>
						<LineNumber>A</LineNumber>
						<ELFFieldNumber>0045</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	

			<!-- SSN-->
			<xsd:element name="SSN" type="SSNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>SSN</Description>
						<LineNumber>B</LineNumber>
						<ELFFieldNumber>0050</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	

			<!-- FilingStatusEstimatedCd-->
			<xsd:element name="IndividualReturnFilingStatusCd">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Individual Return Filing Status Code</Description>
						<LineNumber>C</LineNumber>
						<ELFFieldNumber>0060</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="FilingStatusCdType">
							<xsd:attribute name="filingStatusEstimatedCd" type="TextType" fixed="ESTIMATED">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Filing Status Estimated</Description>
										<ELFFieldNumber>0055</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>	
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!--Part I Child's Net Investment Interest -->
			
			<xsd:element name="ChildInvestmentIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Investment Income</Description>
						<LineNumber>1</LineNumber>
						<ELFFieldNumber>0070</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Kiddie Deduction Amount -->
			<xsd:element name="KiddieDeductionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Deduction Amount</Description>
						<LineNumber>2</LineNumber>
						<ELFFieldNumber>0080</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<xsd:element name="ChildUnearnedIncomeAdjustedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Unearned Income Adjusted Amount</Description>
						<LineNumber>3</LineNumber>
						<ELFFieldNumber>0090</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="ChildTaxableIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Taxable Income Amount</Description>
						<LineNumber>4</LineNumber>
						<ELFFieldNumber>0100</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="ChildNetInvestmentIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Net Investment Income Amount</Description>
						<LineNumber>5</LineNumber>
						<ELFFieldNumber>0110</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Part II Tentative Tax Based on the Tax Rate of the Parent -->
			
			<xsd:element name="ParentTaxableIncomeAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Parent Taxable Income Amount</Description>
						<LineNumber>6</LineNumber>
						<ELFFieldNumber>0120</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountNNType">
							<xsd:attribute name="parentTaxableIncomeEstimatedCd" type="TextType" fixed="ESTIMATED">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0115</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="OtherChildrenInvestmentIncAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Children Investment Included Estimate</Description>
						<LineNumber>7</LineNumber>
						<ELFFieldNumber>0130</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="othChildrenInvestmentIncEstCd" type="TextType" fixed="ESTIMATED">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0128</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="FamilyIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Family Income Amount</Description>
						<LineNumber>8</LineNumber>
						<ELFFieldNumber>0140</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="FamilyCapitalGainsTaxInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Family Capital Gains Tax Indicator</Description>
						<LineNumber>9</LineNumber>
						<ELFFieldNumber>0143</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="FamilyTentativeTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Family Tentative Tax Amount</Description>
						<LineNumber>9</LineNumber>
						<ELFFieldNumber>0160</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
				
			<xsd:element name="ParentCapitalGainsTaxInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Parent Capital Gains Tax</Description>
						<LineNumber>10</LineNumber>
						<ELFFieldNumber>0163</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<xsd:element name="ParentTentativeTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Parent Tentative Tax Amount</Description>
						<LineNumber>10</LineNumber>
						<ELFFieldNumber>0180</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<xsd:element name="ChildrenTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Children Tax Amount</Description>
						<LineNumber>11</LineNumber>
						<ELFFieldNumber>0190</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		

			<xsd:element name="NetChildrenInvestmentIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Children Investment Income Amount</Description>
						<LineNumber>12a</LineNumber>
						<ELFFieldNumber>0200</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<xsd:element name="ChildrenInvestmentPct" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Children Investment Percentage</Description>
						<LineNumber>12b</LineNumber>
						<ELFFieldNumber>0210</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<xsd:element name="ChildrenInvestmentAllcblTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Children Investment Allocable Tax Amount</Description>
						<LineNumber>13</LineNumber>
						<ELFFieldNumber>0220</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Part III - Child's Tax -->
			<xsd:element name="ChildNetIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Net Income Amount</Description>
						<LineNumber>14</LineNumber>
						<ELFFieldNumber>0230</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<xsd:element name="ChildUnearnedIncomeInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Unearned Income</Description>
						<LineNumber>15</LineNumber>
						<ELFFieldNumber>0233</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<xsd:element name="ChildNetIncomeTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Net Income Tax Amount</Description>
						<LineNumber>15</LineNumber>
						<ELFFieldNumber>0250</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<xsd:element name="TotalAllocableAndNetTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Allocable And Net Tax Amount</Description>
						<LineNumber>16</LineNumber>
						<ELFFieldNumber>0260</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	

			<xsd:element name="ChildCapitalGainInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Capital Gains Indication</Description>
						<LineNumber>17</LineNumber>
						<ELFFieldNumber>0270</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<xsd:element name="TaxOnChildTaxableIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax on Child Taxable Income Amount</Description>
						<LineNumber>17</LineNumber>
						<ELFFieldNumber>0280</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<xsd:element name="KiddieTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Tax Amount</Description>
						<LineNumber>18</LineNumber>
						<ELFFieldNumber>0290</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	

		</xsd:sequence>
	</xsd:complexType>

	<!-- =========================================================== -->
	<!-- ============= Local types, types for repeating groups etc. ============= -->
	<!-- =========================================================== -->
	
	<!-- Individual Return Filing Status Cd -->
	<xsd:simpleType name="FilingStatusCdType">
		<xsd:restriction base="TextType">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>
