core/testfiles/TDCFiles/Schemas/Tax/efile1040x_2012v3.0/SchemaFiles/2012v3.0/IndividualIncomeTax/Ind1040/IRS5695/IRS5695.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - IRS Form 5695</Description>
			<TaxYear>2012</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>September 7, 2012</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	<!--==================================================================-->
	<!--============================= IRS5695 ==============================-->
	<!--==================================================================-->
	<xsd:element name="IRS5695">
		<xsd:annotation>
			<xsd:documentation>IRS Form 5695</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS5695Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS5695"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IRS5695Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS5695</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			
			<xsd:element name="Name" type="NameLine1Type">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name</Description>
						<ELFFieldNumber>0003 0001</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="SSN" type="SSNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>SSN</Description>
						<ELFFieldNumber>0003 0001</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part I - Nonbusiness Energy Property Credit -->

			<xsd:element name="NonBusinessEgyEffcntPropCrGrp" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<!--Home Located In USA Indicator -->
						<xsd:element name="HomeLocatedInUSAInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Home Located In USA</Description>
									<LineNumber>1a</LineNumber>
									<ELFFieldNumber>0020 0030</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Address of main home where you made qualifying improvements -->
						<xsd:element name="EgyPropCrMainHomeUSAddress" type="USAddressType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Address of main home where you made qualifying improvements</Description>
									<LineNumber>1b</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Were improvements related to construction of main home question -->
						<xsd:element name="ImprvRltdToConstMainHomeInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Were improvements related to construction of main home question</Description>
									<LineNumber>1c</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Amount from 5th prior year -->
						<xsd:element name="NonBusinessEnergyCr5thPYAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Amount from 5th prior year</Description>
									<LineNumber>2a</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
					 	</xsd:element>
						<!--Amount from 4th prior year -->
						<xsd:element name="NonBusinessEnergyCr4thPYAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Amount from 4th prior year</Description>
									<LineNumber>2b</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Amount from 2nd prior year -->
						<xsd:element name="NonBusinessEnergyCr2ndPYAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Amount from 2nd prior year</Description>
									<LineNumber>2c</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Amount from prior year -->
						<xsd:element name="NonBusinessEnergyCrPYAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Amount from prior year</Description>
									<LineNumber>2d</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Accumulated credit amountr -->
						<xsd:element name="TotNonBusinessRsdntlEgyCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Accumulated credit amount</Description>
									<LineNumber>2e</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Insulation Or System Heat Gain Loss Cost Amount -->
						<xsd:element name="InsulationOrSysHtGnLossCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Insulation Or System Heat Gain Loss Cost Amount</Description>
									<LineNumber>3a</LineNumber>
									<ELFFieldNumber>0040</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Exterior Doors Cost Amount -->
						<xsd:element name="ExteriorDoorsCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Exterior Doors Cost Amount</Description>
									<LineNumber>3b</LineNumber>
									<ELFFieldNumber>0060</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Metal Or Asphalt Roof Cost Amount -->
						<xsd:element name="MetalOrAsphaltRoofCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Metal Or Asphalt Roof Cost Amount</Description>
									<LineNumber>3c</LineNumber>
									<ELFFieldNumber>0060</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Exterior Window Or Skylight Cost Amount -->
						<xsd:element name="ExteriorWndwOrSkylightCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Exterior Window Or Skylight Cost Amount</Description>
									<LineNumber>3d</LineNumber>
									<ELFFieldNumber>0050</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Exterior window or wkylight cost limitation amount -->
						<xsd:element name="ExtWndwOrSkylightCostLimitAmt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Exterior window or wkylight cost limitation amount</Description>
									<LineNumber>3e</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="USAmountType">
									<xsd:enumeration value="2000" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!--Prior year window expense amount -->
						<xsd:element name="PriorYearWindowExpnsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Prior year window expense amount</Description>
									<LineNumber>3f</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Maximum energy credit less prior year window expenses amount -->
						<xsd:element name="MaxEgyCrLessPYWindowExpnsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Maximum energy credit less prior year window expenses amount</Description>
									<LineNumber>3g</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Credit after application of window expenses limit amount -->
						<xsd:element name="CrAfterAppWndwExpnsLimitAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Credit after application of window expenses limit amount</Description>
									<LineNumber>3h</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Partial energy improvement cost amount -->
						<xsd:element name="PartialEnergyImprvCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Partial energy improvement cost amount</Description>
									<LineNumber>4</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Energy Efficiency Improvement Standard Percentage Credit Amount -->
						<xsd:element name="EnergyEffcntImprvStdPctCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Energy Efficiency Improvement Standard Percentage Credit Amount</Description>
									<LineNumber>5</LineNumber>
									<ELFFieldNumber>0125</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Energy Efficient Building Property Cost Amount -->
						<xsd:element name="EnergyEffcntBldgPropCostAmt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Energy Efficient Building Property Cost Amount</Description>
									<LineNumber>6a</LineNumber>
									<ELFFieldNumber>0080</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="USAmountType">
									<xsd:maxInclusive value="300" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!--Qualified Natural Gasoline Cost Amount -->
						<xsd:element name="QualifiedNaturalGasCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualified Natural Gasoline Cost Amount</Description>
									<LineNumber>6b</LineNumber>
									<ELFFieldNumber>0090</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Advanced Main Air Circulating Fan Cost Amount -->
						<xsd:element name="AdvncMainAirCirctngFanCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Advanced Main Air Circulating Fan Cost Amount</Description>
									<LineNumber>6c</LineNumber>
									<ELFFieldNumber>0100</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Internal energy improvement cost amount -->
						<xsd:element name="InternalEnergyImprvCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Internal energy improvement cost amount</Description>
									<LineNumber>7</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Energy Improvements Cost Amount -->
						<xsd:element name="TotalEnergyImprovementsCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Energy Improvements Cost Amount</Description>
									<LineNumber>8</LineNumber>
									<ELFFieldNumber>0110</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Maximum Residential Energy Credit Amount -->
						<xsd:element name="MaximumResidentialEnergyCrAmt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Maximum Residential Energy Credit Amount</Description>
									<LineNumber>9</LineNumber>
									<ELFFieldNumber>0127</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="USAmountType">
										<xsd:attribute name="marriedTPMoreThanOneHomeCd">
											<xsd:annotation>
												<xsd:documentation>
													<ELFFieldNumber>NL</ELFFieldNumber>
												</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="TextType">
													<xsd:enumeration value="MORE THAN ONE HOME"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<!--Energy Efficiency Improvement Allowable Cost Amount -->
						<xsd:element name="EnergyEffcntImprvAllwblCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Energy Efficiency Improvement Allowable Cost Amount</Description>
									<LineNumber>10</LineNumber>
									<ELFFieldNumber>0135</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Adjusted Credit Limit Amount -->
						<xsd:element name="AdjustedCreditLimitAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Adjusted Credit Limit Amount</Description>
									<LineNumber>11</LineNumber>
									<ELFFieldNumber>0145</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Lessor of total energy improvement costs or adjustment credit limit amount -->
						<xsd:element name="LessorOfActCrOrAdjCrLimitAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Lessor of total energy improvement costs or adjustment credit limit amount</Description>
									<LineNumber>12</LineNumber>
									<ELFFieldNumber>0155</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Taxes Lesser Credits Amount -->
						<xsd:element name="TaxesLessCreditsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Taxes Lesser Credits Amount</Description>
									<LineNumber>13</LineNumber>
									<ELFFieldNumber>0165</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Non Business Energy Credit Amount -->
						<xsd:element name="NonBusinessEnergyCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Non Business Energy Credit Amount</Description>
									<LineNumber>14</LineNumber>
									<ELFFieldNumber>0175</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Part II - Residential Energy Efficient Property Credit -->

			<xsd:element name="RsdntlEnergyEffcntPropCrGrp" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<!--Solar Electronic Property Cost Amount -->
						<xsd:element name="SolarElecPropCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Solar Electronic Property Cost Amount</Description>
									<LineNumber>15</LineNumber>
									<ELFFieldNumber>0255</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Solar Water Heat Property Cost Amount -->
						<xsd:element name="SolarWaterHtPropCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Solar Water Heat Property Cost Amount</Description>
									<LineNumber>16</LineNumber>
									<ELFFieldNumber>0260</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Small Wind Property Cost Amount -->
						<xsd:element name="SmallWindPropCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Small Wind Property Cost Amount</Description>
									<LineNumber>17</LineNumber>
									<ELFFieldNumber>0265</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Geothrml Heat Pump Property Cost Amount -->
						<xsd:element name="GeothrmlHtPumpPropCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Geothrml Heat Pump Property Cost Amount</Description>
									<LineNumber>18</LineNumber>
									<ELFFieldNumber>0270</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Of Energy Credits Amount -->
						<xsd:element name="TotalEnergyCreditsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Of Energy Credits Amount</Description>
									<LineNumber>19</LineNumber>
									<ELFFieldNumber>0275</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Geothrml Ht Pump Property Standard Percentage Credit Amount -->
						<xsd:element name="GeothrmlHtPumpPropStdPctCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Geothrml Ht Pump Property Standard Percentage Credit Amount</Description>
									<LineNumber>20</LineNumber>
									<ELFFieldNumber>0280</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Qualified fuel cell property indicator -->
						<xsd:element name="QlfyFuelCellPropertyInUSInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualified fuel cell property indicator</Description>
									<LineNumber>21a</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Qualified fuel cell property address -->
						<xsd:element name="QlfyFuelCellPropertyHmAddress" type="USAddressType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualified fuel cell property address</Description>
									<LineNumber>21b</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Fuel Cell Property Cost Amount -->
						<xsd:element name="FuelCellPropCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Fuel Cell Property Cost Amount</Description>
									<LineNumber>22</LineNumber>
									<ELFFieldNumber>0285</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Fuel Cell Property Standard Percentage Credit Amount -->
						<xsd:element name="FuelCellPropStdPctCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Fuel Cell Property Standard Percentage Credit Amount</Description>
									<LineNumber>23</LineNumber>
									<ELFFieldNumber>0290</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Fuel Cell Property Kilowatt Capitalized Numeric -->
						<xsd:element name="FuelCellPropKWCapNum" type="LargeRatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Fuel Cell Property Kilowatt Capitalized Numeric</Description>
									<LineNumber>24</LineNumber>
									<ELFFieldNumber>0295</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Fuel Cell Property Kilowatt Capitalized Amount -->
						<xsd:element name="FuelCellPropKWCapAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Fuel Cell Property Kilowatt Capitalized Amount</Description>
									<LineNumber>24</LineNumber>
									<ELFFieldNumber>0300</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Fuel Cell Property Allowable Cost Amount -->
						<xsd:element name="FuelCellPropAllwblCostAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Fuel Cell Property Allowable Cost Amount</Description>
									<LineNumber>25</LineNumber>
									<ELFFieldNumber>0305</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Processing Year Carryforward Energy Effective Property Amount -->
						<xsd:element name="PYCarryfwdEnergyEffPropertyAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Processing Year Carryforward Energy Effective Property Amount</Description>
									<LineNumber>26</LineNumber>
									<ELFFieldNumber>0310</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Of Energy Credits Amount -->
						<xsd:element name="TotalOfEnergyCreditsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Of Energy Credits Amount</Description>
									<LineNumber>27</LineNumber>
									<ELFFieldNumber>0315</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Tax Before Credit And Other Taxes Amount -->
						<xsd:element name="TotalTxBeforeCrAndOtherTxsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Tax Before Credit And Other Taxes Amount</Description>
									<LineNumber>28</LineNumber>
									<ELFFieldNumber>0320</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Other Credits Amount -->
						<xsd:element name="OtherCreditsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other Credits Amount</Description>
									<LineNumber>29</LineNumber>
									<ELFFieldNumber>0325</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Tax Lesser Credits Amount -->
						<xsd:element name="TaxLessCreditsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Tax Lesser Credits Amount</Description>
									<LineNumber>30</LineNumber>
									<ELFFieldNumber>0330</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Residential Energy Credit Amount -->
						<xsd:element name="ResidentialEnergyCreditAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Residential Energy Credit Amount</Description>
									<LineNumber>31</LineNumber>
									<ELFFieldNumber>0230</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Carryforward Energy Effective Property Credit Amount -->
						<xsd:element name="CarryfwdEnergyEffPropertyCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Carryforward Energy Effective Property Credit Amount</Description>
									<LineNumber>32</LineNumber>
									<ELFFieldNumber>0335</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
