core/testfiles/TDCFiles/Schemas/Tax/efile1040x_2011v3.0/SchemaFiles/2011v3.0/IndividualIncomeTax/Ind1040/IRS1040/IRS1040.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - IRS Form 1040</Description>
			<TaxYear>2011</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 25, 2011</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ================================================================== -->
	<!-- ======================  IRS FORM 1040 ============================ -->
	<!-- ================================================================== -->

	<xsd:element name="IRS1040">
		<xsd:annotation>
			<xsd:documentation>IRS FORM 1040</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS1040Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS1040">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8379 IRS8867 BinaryAttachment AllocationRecord Chapter11BankruptcyStatement Form1098DifferenceStatement Form1098RecipientNameAndAddressStatement NameChangeStatement OverseasExtensionStatement PenaltiesStatement SpouseSignatureStatement GeneralDependencyMedium GeneralDependencySmall">
						<xsd:annotation>
							<xsd:documentation>
								<ELFFieldNumber>1329</ELFFieldNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS1040Type">
		<xsd:annotation>
			<xsd:documentation>Content model for FORM 1040</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		
			<!-- Special Condition Description -->
			<xsd:element name="SpecialConditionDescription" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Special condition description</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Primary Date of Death -->
			<xsd:element name="PrimaryDateOfDeath" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Primary date of death</Description>
						<ELFFieldNumber>0020</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Spouse Date Of Death -->
			<xsd:element name="SpouseDateOfDeath" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Spouse date of death</Description>
						<ELFFieldNumber>0040</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:choice minOccurs="0">
				<!-- Special Processing Literal -->
				<xsd:element name="SpecialProcessingLiteralCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Special processing literal</Description>
							<ELFFieldNumber>0100</ELFFieldNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="TextType">
							<xsd:enumeration value="DESERT STORM"/>
							<xsd:enumeration value="HAITI"/>
							<xsd:enumeration value="FORMER YUGOSLAVIA"/>
							<xsd:enumeration value="UN OPERATION"/>
							<xsd:enumeration value="JOINT GUARD"/>
							<xsd:enumeration value="JOINT FORGE"/>
							<xsd:enumeration value="NORTHERN WATCH"/>
							<xsd:enumeration value="OPERATION ALLIED FORCE"/>
							<xsd:enumeration value="NORTHERN FORGE"/>
							<xsd:enumeration value="ENDURING FREEDOM"/>
							<xsd:enumeration value="IRAQI FREEDOM"/>
							<xsd:enumeration value="KOSOVO OPERATION"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="SpecialProcessingLiteralCd2" fixed="COMBAT ZONE">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Special processing literal</Description>
							<ELFFieldNumber>0100</ELFFieldNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="TextType">
								<xsd:attribute name="combatZoneDate" use="required">
									<xsd:annotation>
										<xsd:documentation>
											<ELFFieldNumber>0100</ELFFieldNumber>
										</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="DateType">
											<xsd:pattern value="[1-9][0-9]{3}\-.*"></xsd:pattern>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<!-- Special Processing Code Text -->
				<xsd:element name="SpecialProcessingCodeTxt">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Special processing code text</Description>
							<ELFFieldNumber>0100</ELFFieldNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="TextType">
							<xsd:maxLength value="22"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			
			<!-- PECF Primary Indicator  -->
			<xsd:element name="PECFPrimaryInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>PECF primary indicator</Description>
						<ELFFieldNumber>0110</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- PECF Spouse Indicator -->
			<xsd:element name="PECFSpouseInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>PECF spouse indicator</Description>
						<ELFFieldNumber>0120</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- =============== Filing Status =============== -->
			<!-- Individual Return Filing Status Cd -->
			<xsd:element name="IndividualReturnFilingStatusCd">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Individual return filing status cd</Description>
						<LineNumber>1 thru 5</LineNumber>
						<ELFFieldNumber>0130</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Spouses Name -->
			<xsd:element name="SpousesName" type="PersonNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Spouses name</Description>
						<LineNumber>3</LineNumber>
						<ELFFieldNumber>0140</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Qualifying Name For HOH -->
			<xsd:element name="QualifyingNameForHOH" type="PersonNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualifying name for hoh</Description>
						<LineNumber>4</LineNumber>
						<ELFFieldNumber>0150</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Qualifying HOH SSN -->
			<xsd:element name="QualifyingHOHSSN" type="SSNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualifying hoh ssn</Description>
						<LineNumber>4</LineNumber>
						<ELFFieldNumber>0153</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- =============== Exemptions =============== -->
			<!-- Exempt Primary Indicator -->
			<xsd:element name="ExemptPrimaryInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exempt primary indicator</Description>
						<LineNumber>6a</LineNumber>
						<ELFFieldNumber>0160</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Exempt Spouse Indicator -->
			<xsd:element name="ExemptSpouseInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exempt spouse indicator</Description>
						<LineNumber>6b</LineNumber>
						<ELFFieldNumber>0163</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="ExemptSpouseName" type="PersonNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exempt spouse name</Description>
						<LineNumber>6b</LineNumber>
						<ELFFieldNumber>0164</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Exempt Spouse Name Control -->
			<xsd:element name="ExemptSpouseNameControl" type="PersonNameControlType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exempt spouse name control</Description>
						<LineNumber>6b</LineNumber>
						<ELFFieldNumber>0165</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Exempt Primary And Spouse Count -->
			<xsd:element name="TotalExemptPrimaryAndSpouseCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total exempt primary and spouse count</Description>
						<LineNumber>6</LineNumber>
						<ELFFieldNumber>0167</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:totalDigits value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Dependent Information Repeating Group -->
			<xsd:element name="DependentInformations" minOccurs="0" maxOccurs="100">
				<xsd:complexType>
					<xsd:sequence>
						<!-- Dependent First Name -->
						<xsd:element name="DependentFirstName" type="PersonFirstNameType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Dependent first name</Description>
									<LineNumber>6c(1)</LineNumber>
									<ELFFieldNumber>0170</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Dependent Last Name -->
						<xsd:element name="DependentLastName" type="PersonLastNameType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Dependent last name</Description>
									<LineNumber>6c(1)</LineNumber>
									<ELFFieldNumber>0171</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Dependent Name Control -->
						<xsd:element name="DependentNameControl" type="PersonNameControlType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Dependent name control</Description>
									<LineNumber>6c</LineNumber>
									<ELFFieldNumber>0172</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Dependent SSN or "DIED" -->
						<xsd:choice>
							<xsd:element name="DependentSSN" type="SSNType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Dependent SSN</Description>
										<LineNumber>6c(2)</LineNumber>
										<ELFFieldNumber>0175</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DependentDIED" >
								<xsd:annotation>
									<xsd:documentation>
										<Description>Dependent Died</Description>
										<LineNumber>6c(2)</LineNumber>
										<ELFFieldNumber>0175</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
											<xsd:enumeration value="DIED"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:choice>
						<!-- Dependent Relationship -->
						<xsd:element name="DependentRelationship">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Dependent relationship</Description>
									<LineNumber>6c(3)</LineNumber>
									<ELFFieldNumber>0177</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:enumeration value="SON"/>
									<xsd:enumeration value="DAUGHTER"/>
									<xsd:enumeration value="STEPCHILD"/>
									<xsd:enumeration value="FOSTER CHILD"/>
									<xsd:enumeration value="BROTHER"/>
									<xsd:enumeration value="SISTER"/>
									<xsd:enumeration value="STEPBROTHER"/>
									<xsd:enumeration value="STEPSISTER"/>
									<xsd:enumeration value="HALF BROTHER"/>
									<xsd:enumeration value="HALF SISTER"/>
									<xsd:enumeration value="GRANDCHILD"/>
									<xsd:enumeration value="NIECE"/>
									<xsd:enumeration value="NEPHEW"/>
									<xsd:enumeration value="PARENT"/>
									<xsd:enumeration value="GRANDPARENT"/>
									<xsd:enumeration value="AUNT"/>
									<xsd:enumeration value="UNCLE"/>
									<xsd:enumeration value="OTHER"/>
									<xsd:enumeration value="NONE"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- Eligibile for Child Tax Credit Indicator -->
						<xsd:element name="EligibleForChildTaxCreditInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Eligibile for child tax credit indicator</Description>
									<LineNumber>6c(4)</LineNumber>
									<ELFFieldNumber>0178</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Number Of Other Dependents Listed Count Ind -->
			<xsd:element name="NumOfOtherDepdListedInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>More than four dependents</Description>
						<LineNumber>6c</LineNumber>
						<ELFFieldNumber>0209</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Number of Children Who Lived with You Count -->
			<xsd:element name="NumOfChildWhoLivedWithYouCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of children who lived with you count</Description>
						<LineNumber>6c</LineNumber>
						<ELFFieldNumber>0240</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:totalDigits value="2"></xsd:totalDigits>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Number of Children Not living With You Count-->
			<xsd:element name="NumOfChildNotLivingWithYouCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of children not living with you count</Description>
						<LineNumber>6c</LineNumber>
						<ELFFieldNumber>0247</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:totalDigits value="2"></xsd:totalDigits>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Number of Other Dependents Listed Count -->
			<xsd:element name="NumOfOtherDepdListedCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of other dependents listed count</Description>
						<LineNumber>6c</LineNumber>
						<ELFFieldNumber>0350</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:totalDigits value="2"></xsd:totalDigits>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Total Exemptions Count -->
			<xsd:element name="TotalExemptionsCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total exemptions count</Description>
						<LineNumber>6d</LineNumber>
						<ELFFieldNumber>0355</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:totalDigits value="2"></xsd:totalDigits>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- =============== Income =============== -->			
			<!-- Wages Salaries And Tips Amount -->
			<xsd:element name="WagesSalariesAndTipsAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Wages salaries and tips amount</Description>
						<LineNumber>7</LineNumber>
						<ELFFieldNumber>0375</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="wagesNotShownLitOnlyCd">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0370 0371</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="FB"/>
										<xsd:enumeration value="DCB"/>
										<xsd:enumeration value="FB AND DCB"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRSW2 NonW2DisabilityPaymentStatement WagesNotShownSchedule">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0356 0357 0358 0359 0360 0361 0362 0363 0366 0367 0368 0369 0370 0371 0372 0373 0378 0379</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Taxable Interest Amount -->
			<xsd:element name="TaxableInterestAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable interest amount</Description>
						<LineNumber>8a</LineNumber>
						<ELFFieldNumber>0380</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1040ScheduleB">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Tax-Exempt Interest Amount -->
			<xsd:element name="TaxExemptInterestAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax-exempt interest amount</Description>
						<LineNumber>8b</LineNumber>
						<ELFFieldNumber>0385</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Ordinary F8814 Code -->
			<xsd:element name="OrdinaryF8814Cd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ordinary F8814 code</Description>
						<LineNumber>9a</LineNumber>
						<ELFFieldNumber>0390</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="F8814"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Ordinary F8814 Amount -->
			<xsd:element name="OrdinaryF8814Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ordinary F8814 amount</Description>
						<LineNumber>9a</LineNumber>
						<ELFFieldNumber>0391</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Ordinary Dividends Amount -->
			<xsd:element name="OrdinaryDividendsAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ordinary dividends amount</Description>
						<LineNumber>9a</LineNumber>
						<ELFFieldNumber>0394</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1040ScheduleB">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Qualified F8814 Code -->
			<xsd:element name="QualifiedF8814Cd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified F8814 code</Description>
						<LineNumber>9b</LineNumber>
						<ELFFieldNumber>0392</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="F8814"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Qualified F8814 Amount -->
			<xsd:element name="QualifiedF8814Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified F8814 amount</Description>
						<LineNumber>9b</LineNumber>
						<ELFFieldNumber>0393</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Qualified Dividends Amount -->
			<xsd:element name="QualifiedDividendsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified dividends amount</Description>
						<LineNumber>9b</LineNumber>
						<ELFFieldNumber>0396</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- State Local Income Tax Refund Amount -->
			<xsd:element name="StateLocalIncomeTaxRefundAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>State local income tax refund amount</Description>
						<LineNumber>10</LineNumber>
						<ELFFieldNumber>0420</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Alimony Received Amount -->
			<xsd:element name="AlimonyReceivedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alimony received amount</Description>
						<LineNumber>11</LineNumber>
						<ELFFieldNumber>0430</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Business Income Loss Amount -->
			<xsd:element name="BusinessIncomeLossAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business income loss amount</Description>
						<LineNumber>12</LineNumber>
						<ELFFieldNumber>0440</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1040ScheduleC IRS1040ScheduleCEZ">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Capital Distribution Indicator -->
			<xsd:element name="CapitalDistributionInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Capital distribution indicator</Description>
						<LineNumber>13</LineNumber>
						<ELFFieldNumber>0447</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Capital Gain Loss Amount -->
			<xsd:element name="CapitalGainLossAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Capital gain loss amount</Description>
						<LineNumber>13</LineNumber>
						<ELFFieldNumber>0450</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1040ScheduleD NomineeDistributionStatement">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Form 8814 Code -->
			<xsd:element name="Form8814Cd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8814 code</Description>
						<LineNumber>13</LineNumber>
						<ELFFieldNumber>0454</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="F8814"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Form 8814 Amount -->
			<xsd:element name="Form8814Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8814 amount</Description>
						<LineNumber>13</LineNumber>
						<ELFFieldNumber>0455</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<!-- Other Gain Loss Amount -->
			<xsd:element name="OtherGainLossAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Gain Loss Amount</Description>
						<LineNumber>14</LineNumber>
						<ELFFieldNumber>0470</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="form4684Cd" type="TextType" fixed="F4684">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0460</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>

			</xsd:element>
		
			<!-- IRA Distributions Amount -->
			<xsd:element name="IRADistributionsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>IRA distributions amount</Description>
						<LineNumber>15a</LineNumber>
						<ELFFieldNumber>0475</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- IRA Distributions Literal Code -->
			<xsd:element name="IRADistributionsLiteralCd" minOccurs="0" maxOccurs="3">
				<xsd:annotation>
					<xsd:documentation>
						<Description>IRA distributions literal code</Description>
						<LineNumber>15b</LineNumber>
						<ELFFieldNumber>0477</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="ROLLOVER"/>
						<xsd:enumeration value="QCD"/>
						<xsd:enumeration value="HFD"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Taxable IRA Amount -->
			<xsd:element name="TaxableIRAAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable IRA amount</Description>
						<LineNumber>15b</LineNumber>
						<ELFFieldNumber>0480</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRADistributionStatement">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0479</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Pensions Annuities Amount -->
			<xsd:element name="PensionsAnnuitiesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pensions annuities amount</Description>
						<LineNumber>16a</LineNumber>
						<ELFFieldNumber>0485</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- TotalTaxable Pensions Amount -->
			<xsd:element name="TotalTaxablePensionsAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Taxable pensions amount</Description>
						<LineNumber>16b</LineNumber>
						<ELFFieldNumber>0495</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="pensionsAnnuitiesLiteralCd">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0487 0496</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="ROLLOVER"/>
										<xsd:enumeration value="PSO"/>
										<xsd:enumeration value="ROLLOVER AND PSO"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Foreign Employer Pension Code -->
			<xsd:element name="ForeignEmployerPensionCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Employer Pension Code</Description>
						<LineNumber>16b</LineNumber>
						<ELFFieldNumber>0488</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="FEP"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Taxable Foreign Pensions Total Amount -->
			<xsd:element name="TaxableForeignPensionsTotalAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable Foreign Pensions Total Amount</Description>
						<LineNumber>16b</LineNumber>
						<ELFFieldNumber>0490</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Rental Real Estate Amount -->
			<xsd:element name="RentalRealESTAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rental real estate amount</Description>
						<LineNumber>17</LineNumber>
						<ELFFieldNumber>0510</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1040ScheduleE">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Farm income or loss -->
			<xsd:element name="NetFarmProfitOrLossAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Farm income or loss</Description>
						<LineNumber>18</LineNumber>
						<ELFFieldNumber>0520</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1040ScheduleF">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
					
			<!-- Unemployment Compensation Amount -->
			<xsd:element name="UnemploymentCompAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unemployment compensation amount</Description>
						<LineNumber>19</LineNumber>
						<ELFFieldNumber>0552</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountNNType">
							<xsd:attribute name="repaymentCd">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0545</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="REPAID"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="repaymentAmt" type="USAmountType">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0551</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Social Security Benefits Amount -->
			<xsd:element name="SocSecBnftAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Social security benefits amount</Description>
						<LineNumber>20a</LineNumber>
						<ELFFieldNumber>0553</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="socSecBnftCd">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0555</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="D"/>
										<xsd:enumeration value="LSE"/>
										<xsd:enumeration value="D LSE"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Taxable Amount of Social Security -->
			<xsd:element name="TaxableSocSecAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable amount of social security</Description>
						<LineNumber>20b</LineNumber>
						<ELFFieldNumber>0557</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Other Income Amount -->
			<xsd:element name="TotalOtherIncomeAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total other income amount</Description>
						<LineNumber>21</LineNumber>
						<ELFFieldNumber>0590</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OtherIncomeTypeStatement NetOperatingLossCarryforwardDeductionStatement">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0560 0570</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Protective Sec108i ELCRecord Ind  -->
			<xsd:element name="ProtectiveSec108iELCRecordInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Protective Sec108i ELCRecord Ind</Description>
						<LineNumber>21</LineNumber>
						<ELFFieldNumber>0595</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Income Amount -->
			<xsd:element name="TotalIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total income amount</Description>
						<LineNumber>22</LineNumber>
						<ELFFieldNumber>0600</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- =============== Adjusted Gross Income =============== -->			
			
			<!-- Educator Expenses Amount -->
			<xsd:element name="EducatorExpensesAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Educator Expenses amount</Description>
						<LineNumber>23</LineNumber>
						<ELFFieldNumber>0623</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="educatorLiteralCd">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0602</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="E"/>
										<xsd:enumeration value="B"/>
									</xsd:restriction>
								</xsd:simpleType>								
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Business Expenses Reservists Others Amount -->
			<xsd:element name="BusExpnsReservistsAndOthersAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business expenses reservists others amount</Description>
						<LineNumber>24</LineNumber>
						<ELFFieldNumber>0624</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS2106 IRS2106EZ">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Health savings account deduction -->
			<xsd:element name="HealthSavingsAccountDedAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Health savings account deduction</Description>
						<LineNumber>25</LineNumber>
						<ELFFieldNumber>0635</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8889">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Moving expenses amount -->
			<xsd:element name="MovingExpensesAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Moving expenses amount</Description>
						<LineNumber>26</LineNumber>
						<ELFFieldNumber>0637</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS3903">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Employer Equivalent Portion of Self-Employment Tax Amount -->
			<xsd:element name="EmplrEquivalentPrtnSETaxAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deductible part of self-employment tax</Description>
						<LineNumber>27</LineNumber>
						<ELFFieldNumber>0640</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1040ScheduleSE">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Self-Employed Sep Simple Qualified Plans Amount -->
			<xsd:element name="SelfEmpldSepSimpleQlfyPlansAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Self-employed Sep Simple qualified plans amount</Description>
						<LineNumber>28</LineNumber>
						<ELFFieldNumber>0650</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Self-Employed Health Insurance Deduction Amount -->
			<xsd:element name="SelfEmpldHealthInsDedAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Self-employed health insurance deduction amount</Description>
						<LineNumber>29</LineNumber>
						<ELFFieldNumber>0670</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Early Withdrawal Penalty  -->
			<xsd:element name="PnltyOnErlyWthdrwOfSavingsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Early withdrawal penalty</Description>
						<LineNumber>30</LineNumber>
						<ELFFieldNumber>0680</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Alimony Paid Amount Repeating Group -->
			<xsd:element name="AlimonyAmountGrp" minOccurs="0" maxOccurs="10">
				<xsd:complexType>
					<xsd:sequence>
						<!-- Alimony Amount -->
						<xsd:element name="AlimonyPaidAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Alimony Amount</Description>
									<LineNumber>31a</LineNumber>
									<ELFFieldNumber>0695</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Recipient Social Security Number -->
						<xsd:element name="RecipientsSSN" type="SSNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Recipient socials security number</Description>
									<LineNumber>31b</LineNumber>
									<ELFFieldNumber>0693</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Total Alimony Paid -->
			<xsd:element name="TotalAlimonyPaidAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total alimony paid</Description>
						<LineNumber>31a</LineNumber>
						<ELFFieldNumber>0697</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- IRA Deduction -->
			<xsd:element name="IRADeductionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>IRA Deduction amount</Description>
						<LineNumber>32</LineNumber>
						<ELFFieldNumber>0700</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- IRA Deduction Code -->
			<xsd:element name="IRADeductionCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>IRA Deduction Code</Description>
						<LineNumber>32</LineNumber>
						<ELFFieldNumber>0701</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="D"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Student Loan Interest Deduction -->
			<xsd:element name="StudentLoanInterestDedAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Student loan interest deduction</Description>
						<LineNumber>33</LineNumber>
						<ELFFieldNumber>0702</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="USAmountType">
						<xsd:maxInclusive value="2500"></xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Tuition and Fees deduction -->
				<xsd:element name="TuitionAndFeesDedAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tuition and Fees deduction</Description>
						<LineNumber>34</LineNumber>
						<ELFFieldNumber>0705</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8917">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Domestic production activities deduction -->
			<xsd:element name="DomesticProductionActDedAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Domestic production activities deduction</Description>
						<LineNumber>35</LineNumber>
						<ELFFieldNumber>0710</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8903 DomesticProductionActivitiesStatement">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="domesticProductionActLitCd">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base ="TextType">
										<xsd:enumeration value="T"/>
										<xsd:enumeration value="B"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Other Adjustments Total Amount -->
			<xsd:element name="OtherAdjustmentsTotalAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other adjustments total amount</Description>
						<LineNumber>36</LineNumber>
						<ELFFieldNumber>0735</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Adjustments -->
			<xsd:element name="TotalAdjustmentsAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Adjustments</Description>
						<LineNumber>36</LineNumber>
						<ELFFieldNumber>0740</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OtherAdjustmentsStatement">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0720 0721</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Adjusted Gross Income -->
			<xsd:element name="AdjustedGrossIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted gross income</Description>
						<LineNumber>37 38</LineNumber>
						<ELFFieldNumber>0750 0770</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- =============== Tax and Credit =============== -->			
			
			<!-- For 38, use value of 37 (AdjustedGrossIncomeAmt) -->
			<!-- ELFFieldNumber 0770 ELFFieldNumber -->
			
			<!-- Excluded Sect 933 Puerto Rico Income Amount  -->
			<xsd:element name="ExcldSect933PuertoRicoIncmAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Excluded sect 933 Puerto Rico income amt</Description>
						<LineNumber>38</LineNumber>
						<ELFFieldNumber>0769</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="excldSect933PuertoRicoIncmCd" type="TextType" fixed="EPRI">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0768</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Primary 65 or Older Indicator  -->
			<xsd:element name="Primary65OrOlderInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Primary 65 or older indicator</Description>
						<LineNumber>39a</LineNumber>
						<ELFFieldNumber>0772</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Primary Blind Indicator -->
			<xsd:element name="PrimaryBlindInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Primary Blind Box</Description>
						<LineNumber>39a</LineNumber>
						<ELFFieldNumber>0774</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Spouse 65 or Older Indicator -->
			<xsd:element name="Spouse65OrOlderInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Spouse 65 or older indicator</Description>
						<LineNumber>39a</LineNumber>
						<ELFFieldNumber>0776</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Spouse Blind Indicator -->
			<xsd:element name="SpouseBlindInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Spouse blind indicator</Description>
						<LineNumber>39a</LineNumber>
						<ELFFieldNumber>0778</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Boxes Checked Count -->
			<xsd:element name="TotalBoxesCheckedCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total boxes checked count</Description>
						<LineNumber>39a</LineNumber>
						<ELFFieldNumber>0783</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerType">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Must Itemize Indicator -->
			<xsd:element name="MustItemizeInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Must Itemize Indicator</Description>
						<LineNumber>39b</LineNumber>
						<ELFFieldNumber>0786</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Itemized or Standard Deduction Amount -->
			<xsd:element name="TotalItemizedOrStandardDedAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total itemized or standard deduction amount</Description>
						<LineNumber>40</LineNumber>
						<ELFFieldNumber>0789</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="modifiedStandardDeductionInd">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0788</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="SECT 933"/>
										<xsd:enumeration value="X"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Certain taxes or disaster loss -->
			<!-- Reserved       Note: No Entry on this line
			<xsd:element name="CertTaxesOrDisasterInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
				<xsd:documentation>
					<Description>Certain taxes or disaster loss</Description>
					<LineNumber>40</LineNumber>
				    	<ELFFieldNumber>0790</ELFFieldNumber>
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>  
			-->
			
			<!-- AGI Less Deduction Amount -->
			<xsd:element name="AGILessDeductionsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>AGI less deduction amount</Description>
						<LineNumber>41</LineNumber>
						<ELFFieldNumber>0800</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		
			<!-- Exemption Amount -->
			<xsd:element name="ExemptionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exemption amount</Description>
						<LineNumber>42</LineNumber>
						<ELFFieldNumber>0810</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Taxable Income Amount -->
			<xsd:element name="TaxableIncomeAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable income amount</Description>
						<LineNumber>43</LineNumber>
						<ELFFieldNumber>0820</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="capitalConstructionFundCd">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0825</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="CCF"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="capitalConstructionFundAmt" type="USAmountType">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0826</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- IRS1040 ScheduleQ -->
			<xsd:element name="ScheduleQCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>IRS Schedule Q</Description>
						<LineNumber>43</LineNumber>
						<ELFFieldNumber>0827</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="SCH Q"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Tax Amount -->
			<xsd:element name="TaxAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax amount</Description>
						<LineNumber>44</LineNumber>
						<ELFFieldNumber>0915</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="RecaptureStatement">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0890 0891 0892 0893</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Form8814 Indicator -->
			<xsd:element name="Form8814Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8814 indicator</Description>
						<LineNumber>44a</LineNumber>
						<ELFFieldNumber>0853</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8814">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="childInterestAndDividendTaxAmt" type="USAmountType">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>0857</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
						
			<!-- Form4972 indicator -->
			<xsd:element name="Form4972Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 4972 indicator</Description>
						<LineNumber>44b</LineNumber>
						<ELFFieldNumber>0880</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS4972">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Section 962 Election indicator -->
			<xsd:element name="Section962ElectionInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>962 Election indicator</Description>
						<LineNumber>44c</LineNumber>
						<ELFFieldNumber>0886</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	

			<!-- Alternative minimum tax -->
			<xsd:element name="AlternativeMinimumTaxAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative minimum tax</Description>
						<LineNumber>45</LineNumber>
						<ELFFieldNumber>0918</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS6251">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
						
			<!-- Total Tax Before Credits And Other Taxes Amount -->
			<xsd:element name="TotalTxBeforeCrAndOtherTxsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total tax before credits and other taxes amount</Description>
						<LineNumber>46</LineNumber>
						<ELFFieldNumber>0920</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Foreign tax credit -->
			<xsd:element name="ForeignTaxCreditAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign tax credit</Description>
						<LineNumber>47</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1116">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
						
			<!-- Credit for Child And Dependent Care -->
			<xsd:element name="CrForChildAndDEPDCareAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit for child and dependent care</Description>
						<LineNumber>48</LineNumber>
						<ELFFieldNumber>0925</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS2441">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Education Credit -->
			<xsd:element name="EducationCreditAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Education credit</Description>
						<LineNumber>49</LineNumber>
						<ELFFieldNumber>0935</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountNNType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8863">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Rtr Savings Contributions Cr Amt -->
			<xsd:element name="RtrSavingsContributionsCrAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rtr savings contributions cr amt</Description>
						<LineNumber>50</LineNumber>
						<ELFFieldNumber>950</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8880">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Child Tax Credit Amt  -->
			<xsd:element name="ChildTaxCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Tax Credit Amount</Description>
						<LineNumber>51</LineNumber>
						<ELFFieldNumber>0955</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Residential Energy Credits -->
			<xsd:element name="ResidentialEnergyCreditAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Residential Energy Credits</Description>
						<LineNumber>52</LineNumber>
						<ELFFieldNumber>0988</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS5695">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>			
			
			<!-- Form 3800 indicator -->
			<xsd:element name="Form3800Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 3800 indicator</Description>
						<LineNumber>53a</LineNumber>
						<ELFFieldNumber>1000</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS3800">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>			
			
			<!-- Form 8801 indicator -->
			<xsd:element name="Form8801Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8801 indicator</Description>
						<LineNumber>53b</LineNumber>
						<ELFFieldNumber>1005</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8801">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>			
				
			<!-- Specific Other Credits Ind -->
			<xsd:element name="SpecificOtherCreditsInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Specific Other Credits Ind</Description>
						<LineNumber>53c</LineNumber>
						<ELFFieldNumber>1006</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="creditFormsStatementSchR" type="TextType" fixed="SCH R"/>
							<xsd:attribute name="creditFormsStatement8396" type="TextType" fixed="8396"/>
							<xsd:attribute name="creditFormsStatement8834" type="TextType" fixed="8834"/>
							<xsd:attribute name="creditFormsStatement8835" type="TextType" fixed="8835"/>
							<xsd:attribute name="creditFormsStatement8859" type="TextType" fixed="8859"/>
							<xsd:attribute name="creditFormsStatement8910" type="TextType" fixed="8910"/>
							<xsd:attribute name="creditFormsStatement8911" type="TextType" fixed="8911"/>
							<xsd:attribute name="creditFormsStatement8912" type="TextType" fixed="8912"/>
							<xsd:attribute name="creditFormsStatement8936" type="TextType" fixed="8936"/>
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1040ScheduleR IRS8396 IRS8834 IRS8835 IRS8859 IRS8910 IRS8911 IRS8912 IRS8936">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Other Credits Amount -->
			<xsd:element name="OtherCreditsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other credits amount</Description>
						<LineNumber>53</LineNumber>
						<ELFFieldNumber>1015</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Credits Amount -->
			<xsd:element name="TotalCreditsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total credits amount</Description>
						<LineNumber>54</LineNumber>
						<ELFFieldNumber>1020</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Tax Less Credits Amount -->
			<xsd:element name="TaxLessCreditsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax less credits amount</Description>
						<LineNumber>55</LineNumber>
						<ELFFieldNumber>1030</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- =============== Other Taxes =============== -->			
			
			<!-- Self Employment Tax -->
			<xsd:element name="SelfEmploymentTaxAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Self employment tax</Description>
						<LineNumber>56</LineNumber>
						<ELFFieldNumber>1040</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="exemptSETaxLiteralCd">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>1035</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="F4029"/>
										<xsd:enumeration value="F4361"/>
										<xsd:enumeration value="EXEMPT-NOTARY"/>
										<xsd:enumeration value="EXEMPT COMMUNITY INCOME"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1040ScheduleSE">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Railroad Retirement Code -->
			<xsd:element name="RailroadRetireCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Railroad Retirement Code</Description>
						<LineNumber>57</LineNumber>
				    	<ELFFieldNumber>1070</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType"> 
						<xsd:enumeration value="RRTA" />
					</xsd:restriction>
				</xsd:simpleType>			
			</xsd:element>
			
			<!-- Form 4137 indicator -->
			<xsd:element name="Form4137Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 4137 indicator</Description>
						<LineNumber>57a</LineNumber>
						<ELFFieldNumber>1085</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS4137">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>			
			
			<!-- Form 8919 indicator -->
			<xsd:element name="Form8919Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8919 indicator</Description>
						<LineNumber>57b</LineNumber>
						<ELFFieldNumber>1087</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8919">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>			
			
			<!-- Unreported Social Security and Medicare Tax -->
		  <xsd:element name="UnrprtdSocSecAndMedcrTaxAmt" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Unreported social security and medicare tax</Description>
					<LineNumber>57</LineNumber>
				    	<ELFFieldNumber>1080</ELFFieldNumber>
				</xsd:documentation>
			</xsd:annotation>
		  </xsd:element>
		  
			<!-- Tax on Retirement Plans  -->
			<xsd:element name="TaxOnIRAsAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax on retirement plans</Description>
						<LineNumber>58</LineNumber>
						<ELFFieldNumber>1100</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="retirementTaxPlanLiteralCd" type="TextType" fixed="NO">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>1095</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS5329">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Combined FUTA Tax Plus Net Taxes Amount -->
			<xsd:element name="CombinedFUTATaxPlusNetTaxesAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Household employment taxes</Description>
						<LineNumber>59a</LineNumber>
						<ELFFieldNumber>1106</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1040ScheduleH"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- First-Time Home Buyer Repayment Amout -->
			<xsd:element name="FirstTimeHmByrRepaymentAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>First-time homebuyer credit repayment</Description>
						<LineNumber>59b</LineNumber>
						<ELFFieldNumber>1107</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Other Tax Amount  -->
			<xsd:element name="TotalOtherTaxAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Other tax amount</Description>
						<LineNumber>60</LineNumber>
						<ELFFieldNumber>1148</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OtherTaxStatement">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>1110 1111 1112 1113 1114 1115 1121 1122 1123 1124 1125 1126 1127 1128 1129 1130 1131 1132 1133 1134 1135 1136 1137 1138 1139 1140 1141 1142 1143 1144 1145 1146 NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="form8693ApprovedInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>1118</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="form8693ApprovedDt" type="DateType">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>1119</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Total Tax Amount  -->
			<xsd:element name="TotalTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total tax amount</Description>
						<LineNumber>61</LineNumber>
						<ELFFieldNumber>1150</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- =============== Payments =============== -->			
			
			<!-- Withholding Tax Amount -->
			<xsd:element name="WithholdingTaxAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Withholding tax amount</Description>
						<LineNumber>62</LineNumber>
						<ELFFieldNumber>1160</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OtherWithholdingStatement">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>1155 1157 1158 1159</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Estimated Tax Payments -->
			<xsd:element name="EstimatedTaxPaymentsAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Estimated tax payments</Description>
						<LineNumber>63</LineNumber>
						<ELFFieldNumber>1170</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="divorcedSpouseSSN" type="SSNType">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>1161</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="divorcedLiteralCd" type="TextType" fixed="DIV">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>1162</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Earned Income Credit -->
			<xsd:element name="EarnedIncomeCreditAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Earned income credit</Description>
						<LineNumber>64a</LineNumber>
						<ELFFieldNumber>1180</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountNNType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS1040ScheduleEIC">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- EIC Eligibility Literal Code -->
			<xsd:element name="EICEligibilityLiteralCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EIC eligibility literal code</Description>
						<LineNumber>64a</LineNumber>
						<ELFFieldNumber>1183</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="CLERGY"/>
						<xsd:enumeration value="NO"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Nontaxable Combat Pay Election -->
			<xsd:element name="NontxCombatPayElectionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nontaxable combat pay election</Description>
						<LineNumber>64b</LineNumber>
						<ELFFieldNumber>1185</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Additional Child Tax Credit -->
			<xsd:element name="AdditionalChildTaxCreditAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Additional child tax credit</Description>
						<LineNumber>65</LineNumber>
						<ELFFieldNumber>1188</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountNNType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8812">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Refundable American Opportunity Credit Amt -->
			<xsd:element name="RefundableAmerOppCreditAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Refundable Education Credit Amount</Description>
						<LineNumber>66</LineNumber>
						<ELFFieldNumber>1189</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8863"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- First-time homebuyer credit -->
			<xsd:element name="FirstTimeHomebuyerCreditAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>First-time homebuyer credit</Description>
						<LineNumber>67</LineNumber>
						<ELFFieldNumber>1190</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS5405"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!--Request For Extension Amount -->
			<xsd:element name="RequestForExtensionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Request for extension amount</Description>
						<LineNumber>68</LineNumber>
						<ELFFieldNumber>1197</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Excess SS And Tier 1 RRTA Tax -->
			<xsd:element name="ExcessSocSecAndTier1RRTATaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Excess SS and tier 1 RRTA tax</Description>
						<LineNumber>69</LineNumber>
						<ELFFieldNumber>1198</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Credit for federal tax on fuels -->
       		<xsd:element name="TotalIncomeTaxCredit" minOccurs="0">
          		<xsd:annotation>
             			<xsd:documentation>
                			<Description>Credit for federal tax on fuels</Description>
                			<LineNumber>70</LineNumber>
             			    	<ELFFieldNumber>1200</ELFFieldNumber>
             			</xsd:documentation>
          		</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS4136">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>1205</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Other Payments -->
			<xsd:element name="OtherPaymentsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Payments</Description>
						<LineNumber>71</LineNumber>
						<ELFFieldNumber>1210</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Form 2439 indicator -->
			<xsd:element name="Form2439Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 2439 indicator</Description>
						<LineNumber>71a</LineNumber>
						<ELFFieldNumber>1202</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS2439">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>			
			
			<!-- Form 8801 indicator -->
			<xsd:element name="Form8801Ind2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8801 indicator</Description>
						<LineNumber>71c</LineNumber>
						<ELFFieldNumber>1206</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8801">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>			
			
			<!-- Form 8885 indicator -->
			<xsd:element name="Form8885Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8885 indicator</Description>
						<LineNumber>71d</LineNumber>
						<ELFFieldNumber>1208</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8885">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>			
			
			<!-- Total Payments -->
			<xsd:element name="TotalPaymentsAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Payments</Description>
						<LineNumber>72</LineNumber>
						<ELFFieldNumber>1250</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="form8689Cd" type="TextType" fixed="FORM 8689">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>1245</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="form8689Amt" type="USAmountType">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>1246</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>			
			</xsd:element>
			
			<!-- =============== Refund =============== -->			
			
			<!-- Overpaid Amount -->
			<xsd:element name="OverpaidAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Overpaid amount</Description>
						<LineNumber>73</LineNumber>
						<ELFFieldNumber>1260</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Refund Amount -->
			<xsd:element name="RefundAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Refund amount</Description>
						<LineNumber>74a</LineNumber>
						<ELFFieldNumber>1270</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Form 8888 Indicator -->
			<xsd:element name="Form8888Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8888 indicator</Description>
						<LineNumber>74a</LineNumber>
						<ELFFieldNumber>1271</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8888">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Routing Transit Number -->
			<xsd:element name="RoutingTransitNumber" type="RoutingTransitNumberType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Routing transit number</Description>
						<LineNumber>74b</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Bank Account type -->
			<xsd:element name="BankAccountTypeCd" type="BankAccountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Bank account type</Description>
						<LineNumber>74c</LineNumber>
						<ELFFieldNumber>1274 1276</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Depositor Account Number -->
			<xsd:element name="DepositorAccountNumber" type="BankAccountNumberType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Depositor account number</Description>
						<LineNumber>74d</LineNumber>
						<ELFFieldNumber>1278</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- =============== Amount You Owe =============== -->			
			
			<!-- Applied to ES Tax -->
			<xsd:element name="AppliedToEsTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied to ES tax</Description>
						<LineNumber>75</LineNumber>
						<ELFFieldNumber>1280</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Amount Owed -->
			<xsd:element name="AmountOwedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount owed</Description>
						<LineNumber>76</LineNumber>
						<ELFFieldNumber>1290</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- ES Penalty Amount -->
			<xsd:element name="EsPenaltyAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>ES penalty amount</Description>
						<LineNumber>77</LineNumber>
						<ELFFieldNumber>1300</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- =============== Third Party Designee =============== -->			
			
			<!-- Third Party Designee Indicator -->
			<xsd:element name="ThirdPartyDesigneeInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Third party designee indicator</Description>
						<ELFFieldNumber>1303 1305</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Third Party Designee Name -->
			<xsd:element name="ThirdPartyDesigneeName" type="PersonNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Third Party Designee Name</Description>
						<ELFFieldNumber>1307</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Third Party Designee Telephone Number -->
			<xsd:element name="ThirdPartyDesigneePhone" type="PhoneNumberType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Third party designee telephone number</Description>
						<ELFFieldNumber>1309</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Third Party Designee PIN -->
			<xsd:element name="ThirdPartyDesigneePIN" type="PINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Third Party Designee PIN</Description>
						<ELFFieldNumber>1313</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Community Property Return Indicator -->
			<xsd:element name="CommPropStateRtnInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Community Property Return Indicator</Description>
						<ELFFieldNumber>1317</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- =============== Sign Here =============== -->			
			
			<!-- Signed By Power Of Attorney -->
			<xsd:element name="PowerOfAttorneySignedBy" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Signed by power of attorney</Description>
						<ELFFieldNumber>1319</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Name Of Power Of Attorney -->
			<xsd:element name="PowerOfAttorneyName" type="PersonNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of power of attorney</Description>
						<ELFFieldNumber>1320</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Primary Occupation -->
			<xsd:element name="PrimaryOccupation" type="PersonTitleType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Primary occupation</Description>
						<ELFFieldNumber>1323</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Spouse Occupation -->
			<xsd:element name="SpouseOccupation" type="PersonTitleType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Spouse occupation</Description>
						<ELFFieldNumber>1327</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Surviving Spouse Indicator -->
			<xsd:element name="SurvivingSpouseInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Surviving spouse indicator</Description>
						<ELFFieldNumber>1325</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Personal Representative Indicator -->
			<xsd:element name="PersonalRepresentativeInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Personal Representative</Description>
						<ELFFieldNumber>1326</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:choice minOccurs="0">
				<!-- Taxpayer Daytime Telephone Number -->
				<xsd:element name="DaytimePhoneNumber" type="PhoneNumberType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Taxpayer daytime telephone number</Description>
							<ELFFieldNumber>1328</ELFFieldNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Optional Foreign Telephone Number -->
				<xsd:element name="OptionalForeignTelephoneNumber" type="ForeignPhoneNumberType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Optional foreign telephone number</Description>
							<ELFFieldNumber>1329</ELFFieldNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			
			<!-- Non-Paid Preparer -->
			<xsd:element name="NonPaidPreparerCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Non-paid preparer</Description>
						<ELFFieldNumber>1338</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="IRS-PREPARED"/>
						<xsd:enumeration value="IRS-REVIEWED"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Refund Anticipation Loan Code -->
			<xsd:element name="RefundAnticipationLoanCd">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Refund anticipation loan code</Description>
						<ELFFieldNumber>1465</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="NO BANK PRODUCT"/>
						<xsd:enumeration value="RAL"/>
						<xsd:enumeration value="RAC"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
