core/testfiles/TDCFiles/Schemas/Tax/efile1040x_2011v3.0/SchemaFiles/2011v3.0/IndividualIncomeTax/Common/IRS8606/IRS8606.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - IRS Form 8606</Description>
			<TaxYear>2011</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 25, 2011</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!--==================================================================-->
	<!--============================ IRS8606 ============================-->
	<!--==================================================================-->

	<xsd:element name="IRS8606">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8606</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8606Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8606"/>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ReturnOfIRAContributionsStmt IRARecharacterizationStatement ReturnOfExTradIRAContriStmt">
						<xsd:annotation>
							<xsd:documentation>
								<EFLNumber>NL NL NL</EFLNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="IRS8606Type">
		<xsd:annotation>
			<xsd:documentation>Content model for 8606</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Form 8606 IRA Name line -->
			<xsd:element name="Form8606IRANameline" type="NameLine1Type">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 8606 IRA Name line</Description>
						<ELFFieldNumber>0009</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Taxpayer With IRA SSN -->
			<xsd:element name="NondedIRATxpyrWithIRASSN" type="SSNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Taxpayer With IRA SSN</Description>
						<ELFFieldNumber>0010</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- =========== Part I - Nondeductible Contributions to Traditional IRAs and Distributions From Traditional, SEP, and SIMPLE IRAs ============ -->

			<!-- Nondeductible IRA Current Tax Year Nondeductible Contribution Amount -->
			<xsd:element name="NondedIRACurrTYNondedContriAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Current Tax Year Nondeductible Contribution Amount</Description>
						<LineNumber>1</LineNumber>
						<ELFFieldNumber>0100</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Basis For Prior Year Amount -->
			<xsd:element name="NondedIRABasisForPYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Basis For Prior Year Amount</Description>
						<LineNumber>2</LineNumber>
						<ELFFieldNumber>0105</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Total IRA Value Amount -->
			<xsd:element name="NondedIRATotalIRAValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Total IRA Value Amount</Description>
						<LineNumber>3</LineNumber>
						<ELFFieldNumber>0162</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Post Tax Year Contribution Amount -->
			<xsd:element name="NondedIRAPostTaxYrContriAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Post Tax Year Contribution Amount</Description>
						<LineNumber>4</LineNumber>
						<ELFFieldNumber>0164</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Tax Year Net Basis Amount -->
			<xsd:element name="NondedIRATaxYearNetBasisAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Tax Year Net Basis Amount</Description>
						<LineNumber>5</LineNumber>
						<ELFFieldNumber>0166</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Current TY IRA Plus Rollover Amount -->
			<xsd:element name="NondedIRACurrTYIRAPlusRllvrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Current TYIRA Plus Rollover Amount</Description>
						<LineNumber>6</LineNumber>
						<ELFFieldNumber>0170</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Withdrawn Less Rollover Amount -->
			<xsd:element name="NondedIRAWthdrwLessRllvrAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Withdrawn Lesser Rollover Amount</Description>
						<LineNumber>7</LineNumber>
						<ELFFieldNumber>0180</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="DistributionOfExContriStmt">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Nondeductible IRA Tax Year Combined IRA Value Amount -->
			<xsd:element name="NondedIRATYCombinedIRAValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Tax Year Combined IRA Value Amount</Description>
						<LineNumber>8</LineNumber>
						<ELFFieldNumber>0185</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Total Rollover Withdrawn Value Amount -->
			<xsd:element name="NondedIRATotRllvrWthdrwVlAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Total Rollover Withdrawn Value Amount</Description>
						<LineNumber>9</LineNumber>
						<ELFFieldNumber>0190</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Tax Year Basis Rate -->
			<xsd:element name="NondedIRATaxYearBasisRt" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Tax Year Basis Rate</Description>
						<LineNumber>10</LineNumber>
						<ELFFieldNumber>0225</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Nontaxable Converted Amount -->
			<xsd:element name="NondedIRANontxCnvrtAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Nontaxable Converted Amount</Description>
						<LineNumber>11</LineNumber>
						<ELFFieldNumber>0235</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Nontaxable Withdrawn Unconverted Amount -->
			<xsd:element name="NondedIRANontxWthdrwUncnvrtAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Nontaxable Withdrawn Unconverted Amount</Description>
						<LineNumber>12</LineNumber>
						<ELFFieldNumber>0245</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Nondeductible IRA Nontaxable Of Withdrawn Amount -->
			<xsd:element name="NondedIRANontxOfWthdrwAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Nontaxable Of Withdrawn Amount</Description>
						<LineNumber>13</LineNumber>
						<ELFFieldNumber>0250</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Nondeductible IRA Total IRA Basis Amount -->
			<xsd:element name="NondedIRATotalIRABasisAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Total IRA Basis Amount</Description>
						<LineNumber>14</LineNumber>
						<ELFFieldNumber>0260</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Nondeductible IRA Taxable Amount -->
			<xsd:element name="NondedIRATaxableAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nondeductible IRA Taxable Amount</Description>
						<LineNumber>15</LineNumber>
						<ELFFieldNumber>0275</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="QualifiedRecoveryAsstDsstrStmt">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- =========== Part II - 2011 Conversions From Traditional, SEP, or SIMPLE IRAs to Roth IRAs ============ -->

			<!-- Total IRA Converted To Roth Amount -->
			<xsd:element name="TotalIRAConvertedToRothAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total IRA Converted To Roth Amount</Description>
						<LineNumber>16</LineNumber>
						<ELFFieldNumber>0338</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Traditional IRA Basis Amount -->
			<xsd:element name="TraditionalIRABasisAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Traditional IRA Basis Amount</Description>
						<LineNumber>17</LineNumber>
						<ELFFieldNumber>0342</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxable IRA Conversion Amount -->
			<xsd:element name="TaxableIRAConversionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable IRA Conversion Amount</Description>
						<LineNumber>18</LineNumber>
						<ELFFieldNumber>0344</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- =========== Part III - Distributions from Roth IRAs ============ -->

			<!-- Total Non-Qualified Distributions From Roth IRA Amount -->
			<xsd:element name="TotNonQlfyDistriFromRothIRAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Non-Qualified Distributions From Roth IRA Amount</Description>
						<LineNumber>19</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified first-time homebuyer expenses Amount -->
			<xsd:element name="QlfyFirstTimeHmByrExpensesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified first-time homebuyer expenses Amount</Description>
						<LineNumber>20</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Qualified first-time homebuyer expenses Amount -->
			<xsd:element name="NetQlfyFirstTimeHmByrExpnssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Qualified first-time homebuyer expenses Amount</Description>
						<LineNumber>21</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- ROTH IRA Contribution Basis Amount -->
			<xsd:element name="ROTHIRAContributionBasisAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>ROTH IRA Contribution Basis Amount</Description>
						<LineNumber>22</LineNumber>
						<ELFFieldNumber>0480</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ChangeByDivorceInRothIRABasisStmt">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Net Basis In Roth IRA Contribution Amount -->
			<xsd:element name="NetBasisInRothIRAContriAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Basis In Roth IRA Contribution Amount</Description>
						<LineNumber>23</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Basis In Converted Qualified Return Plan Amount -->
			<xsd:element name="BasisInCnvtQlfyRtrPlanAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis In Converted Qualified Return Plan Amount</Description>
						<LineNumber>24</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ChangeByDivorceInRothIRABasisStmt">
								<xsd:annotation>
									<xsd:documentation>
										<ELFFieldNumber>NL</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Net Basis In Converted Qualified Return Plan Amount -->
			<xsd:element name="NetBasisInCnvtQlfyRtrPlanAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Basis In Converted Qualified Return Plan Amount</Description>
						<LineNumber>25</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Prior Year Roth Conversion Rollover Amount -->
			<xsd:element name="TotPYRothConversionRolloverAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Prior Year Roth Conversion Rollover Amount</Description>
						<LineNumber>26</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Smaller Basis In Roth IRA Amount -->
			<xsd:element name="SmllrBasisInRothIRAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Smaller Basis In Roth IRA Amount</Description>
						<LineNumber>27</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Basis In Converted Roth Prior Year Amount -->
			<xsd:element name="BasisInCnvrtConvertedRothPYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis In Converted Roth Prior Year Amount</Description>
						<LineNumber>28</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Basis In Conversion Roth Prior Year Amount -->
			<xsd:element name="NetBasisInConversionRothPYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Basis In Conversion Roth Prior Year Amount</Description>
						<LineNumber>29</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Distributions Roth IRA Smaller or Sum Amount -->
			<xsd:element name="DistriRothIRASmllrOrSumTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Distributions Roth IRA Smaller or Sum Tax Amount</Description>
						<LineNumber>30</LineNumber>
						<ELFFieldNumber>0520</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Distributions Roth Smaller or Sum Tax Amount -->
			<xsd:element name="NetDistriRothSmllrOrSumTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Distributions Roth Smaller or Sum Tax Amount</Description>
						<LineNumber>31</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Smaller Net Basis Or Distributions Roth Amount -->
			<xsd:element name="SmllrNetBasisOrDistriRothAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Smaller Net Basis Or Distributions Roth Amount</Description>
						<LineNumber>32</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Rollover Converted Roth Prior Year Plus 1 Amount -->
			<xsd:element name="TotRolloverCnvrtRothPYPlus1Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Rollover Converted Roth Prior Year Plus 1 Amount</Description>
						<LineNumber>33</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Sum Smaller Net Basis Total Rollover Qualified Amount -->
			<xsd:element name="SumSmllrNetBssTotRllvrQlfyAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum Smaller Net Basis Total Rollover Qualified Amount</Description>
						<LineNumber>34</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Smaller Net Distribution Sum Smaller Net Amount -->
			<xsd:element name="SmllrNetDistriSumSmllrNetAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Smaller Net Distribution Sum Smaller Net Amount</Description>
						<LineNumber>35</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Distribution From Roth Taxable Amount -->
			<xsd:element name="DistributionFromRothTaxableAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Distribution From Roth Taxable Amount</Description>
						<LineNumber>36</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Sum Distribution Roth IRA Smaller Net Amount -->
			<xsd:element name="SumDistriRothIRASmllrNetAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum Distribution Roth IRA Smaller Net Amount</Description>
						<LineNumber>37</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Distribution From Roth Subject To Tax Year Plus 1 Amount -->
			<xsd:element name="DistriFromRothSubjToTYPlus1Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Distribution From Roth Subject To Tax Year Plus 1 Amount</Description>
						<LineNumber>38</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- =========== Part IV - Certain Distributions from Designated Roth Accounts ============ -->

			<!-- IRR Allocated Amount -->
			<xsd:element name="IRRAllocatedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>IRR Allocated Amount</Description>
						<LineNumber>39</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Rollover Qualified To Roth Prior Year Plus Year Amount -->
			<xsd:element name="TotRllvrQlfyToRothPYPlusYrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Rollover Qualified To Roth Prior Year Plus Year Amount</Description>
						<LineNumber>40</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxable Designated Roth Income Worksheet Amount -->
			<xsd:element name="TaxableDesgRothIncmWrkshtAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable Designated Roth Income Worksheet Amount</Description>
						<LineNumber>41</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Taxable Designated Roth Income Worksheet Amount -->
			<xsd:element name="NetTxblDesgRothIncmWrkshtAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Taxable Designated Roth Income Worksheet Amount</Description>
						<LineNumber>42</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Smaller IRR Net Taxable Designated Roth Amount -->
			<xsd:element name="SmllrIRRNetTxblDesgRothAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Smaller IRR Net Taxable Designated Roth Amount</Description>
						<LineNumber>43</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Rollover Qualify Retirement to Roth Tax In TY Plus 1 Amount -->
			<xsd:element name="RllvrQlfyRtrToRothTxTYPlus1Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rollover Qualify Retirement to Roth Tax in Tax Year Plus 1 Amount</Description>
						<LineNumber>44</LineNumber>
						<ELFFieldNumber>0430</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Sum Smaller IRR Rollover Qualified Tax Year Plus 1 Amount -->
			<xsd:element name="SumSmllrIRRRllvrQlfyTYPlus1Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum Smaller IRR Rollover Qualified Tax Year Plus 1 Amount</Description>
						<LineNumber>45</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Certain Distributions Designated Roth Taxable Amount -->
			<xsd:element name="CertainDistriDesgRothTxblAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Certain Distributions Designated Roth Taxable Amount</Description>
						<LineNumber>46</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Taxable Designations Roth Sum Smaller IRR Amount -->
			<xsd:element name="TotTxblDesgRothSumSmllrIRRAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Taxable Designations Roth Sum Smaller IRR Amount</Description>
						<LineNumber>47</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Certain Designations Subject To Tax Year Plus 1 Amount -->
			<xsd:element name="CrtnDesgSubToTaxYearPlus1Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Certain Designations Subject To Tax Year Plus 1 Amount</Description>
						<LineNumber>48</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
